%h1 商店街

= link_to "サインアップ" , new_user_registration_path
= link_to "ログイン" , new_user_session_path
= link_to "ログアウト" , destroy_user_session_path, method: :delete
= link_to "ユーザー編集" , edit_user_registration_path

= link_to "ショップ登録", new_shop_path

- @shops.each do|shop|
  - if shop.switching_publiation == 1
    .shop__info
      .shop__info--name
      店舗名：
      = shop.name
    .shop__info--name_kana
      店舗名（カナ）：
      = shop.name_kana
    .shop__info--copy
      コピー：
      = shop.copy
    .shop__show
      = link_to '店舗詳細',"/shops/#{shop.id}",method: :get

