.shop__info
 .shop__info--name
 店舗名：
 = @shops.name
 .shop__info--name_kana
 店舗名（カナ）：
 = @shops.name_kana
 .shop__info--copy
 コピー：
 = @shops.copy
 .shop__info--founded
 設立（年）：
 = @shops.founded
 .shop__info--oppening
 営業時間：
 = @shops.openning
 .shop__info--closed
 定休日：
 = @shops.closed
 .shop__info--town_number
 番街：
 = @shops.town_number
 .shop__info--tel_number
 電話番号：
 = @shops.tel_number
 .shop__info--fax_number
 ファックス番号：
 = @shops.fax_number
 .shop__info--email
 お問い合わせメール：
 = @shops.email
 .shop__info--url
 ホームページ：
 = @shops.url
 .shop__info--map_api
 地図情報：
 = @shops.map_api

.shop__info__back
= link_to "戻る", root_path
